
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4; 
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    h2 {
        color: #333;
    }

    p {
        color: #666;
    }

    a {
        color: #007BFF;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>
</head>
<body>
   <% if (Object.keys(errors).length !== 0) { %>
    
       <div class="container">
        <div style="color: red;">
                <div class="errors">
                    <h3>يوجد أخطاء في الإدخال:</h3>
                    <ul>
                        <% Object.values(errors).forEach(error => { %>
                            <li><%= error %></li>
                        <% }); %>
                    </ul>
                </div> 
             </div>
             <a href="javascript:history.go(-1);" style="color:cadetblue">قم بالعودة للطلب من جديد</a>

      
    <% } %>
</body>
    
